body {
    font-family: 'Arial', sans-serif;
    background-color: #e9a9a9;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    text-align: center;
    background-color: #5ae6c7;
    padding: 20px;
    border-radius: 16px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    margin-right: 10px;
}

canvas {
    max-width: 80%;
    margin-top: 20px;
}